#page-footer
{
	color: __text_pagefooter__;
}

#page-footer p
{
	margin-bottom: 12px;
}

#page-footer .tools
{
	background-color: __background_theme__;
	color: __text_theme__;
	font-size: 90%;
	line-height: 20px;
	margin-top: 30px;
	padding: 15px;
}

#page-footer .tools a
{
	color: __text_theme__;
}

#page-footer .tools ul li:hover
{
	text-decoration: underline;
}

#page-footer .tools .doc
{
	border-top: solid 1px;
	display: block;
	margin-top: 20px;
	padding-top: 10px;
	text-align:right;
}

#page-footer #dokuwiki__pagetools,
#page-footer #dokuwiki__usertools
{
	margin-left: 30px;
}
