#dokuwiki__aside
{
	bottom: __height_footer__;
	background-color: __background_sidebar__;
	color: __text_sidebar__;
	flex-shrink: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 2em;
	position: fixed;
	top: __height_header__;
	width: __width_sidebar__;
}

#dokuwiki__site:not(.showSidebar) #dokuwiki__aside
{
	display: none;
}

body[data-useragent*='Trident'] .rightSidebar #dokuwiki__aside
{
	right: calc(~"(-16px + 100vw - "__width_site__~")/2");
}

#dokuwiki__aside > .aside
{
	overflow-y: scroll;
	overflow-x: hidden;
	font-size: 90%;
	height: 100%;
	scrollbar-width: none;
	-ms-overflow-style: none;
	width: 100%;
}

#dokuwiki__aside > .aside::-webkit-scrollbar {
	display: none;
}

#dokuwiki__aside ul li
{
	margin-left: 0;
}

#dokuwiki__aside p strong
{
	color: __text_sidebar_caption__;
	display: block;
	font-size: 95%;
	font-weight: bold;
	height: 32px;
	line-height: 32px;
	margin: 12px 0 0;
	padding: 0 1.6em;
	/* text-transform: uppercase; */
	white-space: nowrap;
}

#dokuwiki__aside #sidebar
{
    width: 100%;
}

#dokuwiki__aside #sidebar .li
{
	line-height: 18px;
	padding: .4em 0;
}

#dokuwiki__aside #sidebar .li:has(> #dw__toc)
{
	padding-top: 0;
	padding-bottom: 0;
}

#dokuwiki__aside #sidebar ul li a
{
	color: __text_sidebar__;
	display: block;
	position: relative;
	width: 100%;
}

#dokuwiki__aside #sidebar ul li a.wikilink2
{
	color: __missing__;
}

#dokuwiki__aside #sidebar ul .li:has(a):hover
/* #dokuwiki__aside #sidebar ul .li:hover */
{
	background-color: __background_sidebar_hover__;
}

#dokuwiki__aside #sidebar ul .li:has(#dw__toc):hover
{
	background-color: __background_sidebar__;
}

#dokuwiki__aside #sidebar > ul > li.level1 > .li
{
	padding-left: 1.6em;
}

#dokuwiki__aside #sidebar > ul > li.level1 > .li:has(#dw__toc)
{
	padding-left: 0;
}

#dokuwiki__aside #sidebar > ul > li.level1 > ul > li.level2 > .li
{
	padding-left: 2.4em;
}

#dokuwiki__aside #sidebar > ul > li.level1 > ul > li.level2 > .li:has(#dw__toc)
{
	padding-left: 0;
}

#dokuwiki__aside #sidebar > ul > li.level1 > ul > li.level2 > ul > li.level3 > .li
{
	padding-left: 3.2em;
}

#dokuwiki__aside #sidebar > ul > li.level1 > ul > li.level2 > ul > li.level3 > .li:has(#dw__toc)
{
	padding-left: 0;
}

#dokuwiki__aside #sidebar > ul > li.level1 > ul > li.level2 > ul > li.level3 > ul > li.level4 > .li
{
	padding-left: 4em;
}

#dokuwiki__aside #sidebar > ul > li.level1 > ul > li.level2 > ul > li.level3 > ul > li.level4 > .li:has(#dw__toc)
{
	padding-left: 0;
}

#dokuwiki__aside #sidebar > ul > li.level1 > ul > li.level2 > ul > li.level3 > ul > li.level4 > ul > li.level5 > .li
{
	padding-left: 4.8em;
}

#dokuwiki__aside #sidebar > ul > li.level1 > ul > li.level2 > ul > li.level3 > ul > li.level4 > ul > li.level5 > .li:has(#dw__toc)
{
	padding-left: 0;
}

#dokuwiki__aside #dw__toc
{
	background-color: __background_sidebar_toc__;
	float: none;
	margin: 0;
	width: 100%;
}

#dokuwiki__aside #dw__toc ul.toc
{
	padding-left: 0;
}

#dokuwiki__aside #dw__toc ul.toc.invisible
{
	display: none;
}

#dokuwiki__aside #dw__toc > div
{
	padding: 0;
}

#dokuwiki__aside #dw__toc > h3
{
	display: none;
}

#dokuwiki__aside #dw__toc ul > li > div.li > a
{
	color: __text_sidebar_toc__;
}

#dokuwiki__aside #dw__toc .btn-expand
{
	display: inline-block;
}

#dokuwiki__aside #dw__toc .btn-expand i
{
	color: __text_sidebar_expand1__;
	display: inline-block;
	font-size: .8em;
	line-height: 1.6em;
	margin-left: -15px;
}

#dokuwiki__aside #dw__toc .btn-expand img
{
	height: 11px;
	margin-left: 1px;
	width: 11px;
}

#dokuwiki__aside #dw__toc > div > .toc > .level1 > div.li:first-child
{
    border-bottom: solid 1px __background_sidebar_toc_highlight__;
    border-top: solid 1px __background_sidebar_toc_highlight__;
	background-color: __background__;
	font-weight: bold;
}

#dokuwiki__aside #dw__toc > div > .toc > .level1 > div.li:first-child a
{
	background-color: __background__;
}

#dokuwiki__aside #dw__toc ul.toc > .level1 ul.toc > li.current
{
	background-color: __background_sidebar_toc_highlight__;
}

#dokuwiki__aside #dw__toc ul.toc > .level1 ul.toc > li > div.li.current > a
{
	font-weight: bold;
}

#dokuwiki__aside #dw__toc ul.toc > .level1 ul.toc > li > div.li:hover
{
	background-color: __background_sidebar_toc_hover__;
}

#dokuwiki__aside #dw__toc ul > li.level2 > div.li > a .btn-expand i,
#dokuwiki__aside #dw__toc ul > li.level3 > div.li > a .btn-expand i,
#dokuwiki__aside #dw__toc ul > li.level4 > div.li > a .btn-expand i
{
	color: __text_sidebar_expand2__;
}

#dokuwiki__aside #dw__toc ul > li.level1 > div.li > a
{
	padding-left: 1.6em;
}

#dokuwiki__aside #dw__toc ul > li.level2 > div.li > a
{
	padding-left: 2.4em;
}

#dokuwiki__aside #dw__toc ul > li.level2 > div.li > a .btn-expand
{
	left: 1.8em;
}

#dokuwiki__aside #dw__toc ul > li.level3 > div.li > a
{
	font-size: 80%;
	padding-left: 3.2em;
}

#dokuwiki__aside #dw__toc ul > li.level3 > div.li > a .btn-expand
{
	left: 2.6em;
}

#dokuwiki__aside #dw__toc ul > li.level4 > div.li > a
{
	font-size: 80%;
	padding-left: 4em;
}

#dokuwiki__aside #dw__toc ul > li.level4 > div.li > a .btn-expand
{
	left: 3.4em;
}

#dokuwiki__aside #dw__toc ul > li.level5 > div.li > a
{
	font-size: 80%;
	padding-left: 4.8em;
}

/* Plugin Support (simplenavi and acmenu plugins) */

#dokuwiki__aside #sidebar .plugin__simplenavi,
#dokuwiki__aside #sidebar .acmenu
{
	margin: 12px 0 0;
}

#dokuwiki__aside .plugin__simplenavi ul,
#dokuwiki__aside .acmenu ul
{
	padding-left: 24px;
}

#dokuwiki__aside #sidebar .plugin__simplenavi strong
{
	font-weight: normal;
}

#dokuwiki__aside #sidebar .plugin__simplenavi ul li strong > a
{
	color: __text_sidebar_caption__;
}

#dokuwiki__aside #sidebar .plugin__simplenavi #dw__toc,
#dokuwiki__aside #sidebar .acmenu #dw__toc
{
	margin-left: -20px;
	width: unset;
}

#dokuwiki__aside .plugin__simplenavi #dw__toc > div > .toc > .level1 > div.li:first-child > a,
#dokuwiki__aside .acmenu #dw__toc > div > .toc > .level1 > div.li:first-child > a
{
	padding-left: 20px;
}

/* Plugin Support (indexmenu plugin) */

/* No JS */

#dokuwiki__aside #sidebar .indexmenu_nojs > ul.idx {
	margin-left: 1.6em;
}

#dokuwiki__aside #sidebar .indexmenu_nojs div.li:has(#dw__toc) {
	margin-left: -1.6em;
}

#dokuwiki__aside #sidebar .indexmenu_nojs > ul.idx ul.idx {
	margin-left: 0.8em;
}

/* JS (Treenew) */

#dokuwiki__aside #sidebar .indexmenu_js2 ul.fancytree-container {
	font-family: inherit;
	padding: 0 0 0 1.6em;
}

#dokuwiki__aside #sidebar .indexmenu_js2 span.fancytree-title {
	border: none;
	margin: 0;
	max-width: 100%;
	padding: 0;
	width: 100%;
}

#dokuwiki__aside #sidebar .indexmenu_js2 span.fancytree-node,
#dokuwiki__aside #sidebar .indexmenu_js2 span.fancytree-title {
    color: __text_sidebar__;
}

#dokuwiki__aside #sidebar > .indexmenu_js2 .fancytree-title:has(> #dw__toc) {
	margin-left: -1.58em;
}

#dokuwiki__aside #sidebar > .indexmenu_js2.skin-awesome span.fancytree-active span.fancytree-title {
	background-color: transparent;
}

#dokuwiki__aside #sidebar > .indexmenu_js2.skin-awesome span.fancytree-focused span.fancytree-title {
	outline: none;
}

#dokuwiki__aside #sidebar .indexmenu_js2 span.fancytree-node:not(:has(#dw__toc)) {
    padding: 0.4em 0;
}

#dokuwiki__aside #sidebar .indexmenu_js2 span.fancytree-node:not(:has(#dw__toc)):hover {
    background-color: __background_sidebar_hover__;
}

#dokuwiki__aside #sidebar .indexmenu_js2.skin-awesome span.fancytree-expander {
	margin-right: 5px;
	margin-top: -1px !important;
}

#dokuwiki__aside #sidebar .indexmenu_js2.skin-awesome span.fancytree-icon.fa-folder-o,
#dokuwiki__aside #sidebar .indexmenu_js2.skin-awesome span.fancytree-icon.fa-folder-open-o,
#dokuwiki__aside #sidebar .indexmenu_js2.skin-awesome span.fancytree-icon.fa-file-o {
    display: none;
}

/* JS (Treeold) */

#dokuwiki__aside #sidebar .dtree {
    font-family: inherit;
    font-size: inherit;
}

#dokuwiki__aside #sidebar > .dtree {
	margin: 12px 0 0;
	padding-left: 1.6em;
}

#dokuwiki__aside #sidebar .dTreeNode {
    line-height: 18px;
    padding: 0.4em 0;
}

#dokuwiki__aside #sidebar .dTreeNode:hover {
    background-color: __background_sidebar_hover__;
}

#dokuwiki__aside #sidebar .dtree a:visited,
#dokuwiki__aside #sidebar .dtree a:link {
    color: __text_sidebar__;
    background-color: transparent;
    text-decoration: none;
}

#dokuwiki__aside #sidebar .dTreeNode a.navSel {
    color: __text_sidebar_caption__;
	font-weight: bold;
}

/* Plugin Support (nspages plugin) */

#dokuwiki__aside #sidebar .plugin_nspages
{
	margin: 12px 0 0;
}

#dokuwiki__aside #sidebar .plugin_nspages #dw__toc
{
	margin-left: -24px;
	width: unset;
}

#dokuwiki__aside #sidebar .plugin_nspages > ul > li.level1 > div.li
{
	padding-left: 1.6em;
}

#dokuwiki__aside #sidebar .plugin_nspages > ul > li.level1 > ul > li.level2 > div.li
{
	padding-left: 2.4em;
}

#dokuwiki__aside #sidebar .plugin_nspages > ul > li.level1 > ul > li.level2 > ul > li.level3 > div.li
{
	padding-left: 3.2em;
}

#dokuwiki__aside #sidebar .plugin_nspages > ul > li.level1 > ul > li.level2 > ul > li.level3 > ul > li.level4 > div.li
{
	padding-left: 4em;
}

#dokuwiki__aside #sidebar .plugin_nspages > ul > li.level1 > ul > li.level2 > ul > li.level3 > ul > li.level4 > ul > li.level5 > div.li
{
	padding-left: 4.8em;
}

#dokuwiki__aside #sidebar .plugin_nspages #dw__toc ul > li.level1 > div.li > a
{
	padding-left: 1.6em;
}

#dokuwiki__aside #sidebar .plugin_nspages  #dw__toc ul > li.level2 > div.li > a
{
	padding-left: 2.4em;
}

#dokuwiki__aside #sidebar .plugin_nspages  #dw__toc ul > li.level3 > div.li > a
{
	padding-left: 3.2em;
}

#dokuwiki__aside #sidebar .plugin_nspages  #dw__toc ul > li.level4 > div.li > a
{
	padding-left: 4em;
}

#dokuwiki__aside #sidebar .plugin_nspages  #dw__toc ul > li.level5 > div.li > a
{
	padding-left: 4.8em;
}

@media (max-width: __media_query_sp__)
{

	#dokuwiki__aside
	{
		width: 85%;
	}

	#dokuwiki__site.showSidebarSP #dokuwiki__aside
	{
		display: block;
	}

	#dokuwiki__site:not(.showSidebarSP) #dokuwiki__aside
	{
		display: none;
	}

	#dokuwiki__aside > .aside
	{
		width: auto;
	}

}
