#sidebarheader
{
	display: block;
	padding: .809em;
	margin-bottom: .809em;
	z-index: 200;
	background-color: #2980b9;
	text-align: center;
	color: #fcfcfc;
}

#sidebarheader > a
{
	color: #fcfcfc;
	font-size: 100%;
	font-weight: 700;
	display: inline-block;
	padding: 4px 6px;
	margin-bottom: .809em;
}

#sidebarheader .search input[type=text]
{
	width: 100%;
	border-radius: 50px;
	padding: 6px 12px;
	border-color: #2472a4;
}

#sidebarheader .search button
{
	display: none;
}
