#dokuwiki__aside
{
	bottom: 0;
	background-color: #343131;
	left: 0;
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 3em;
	position: fixed;
	top: 0;
	width: 300px;
	z-index: 200;
}

#dokuwiki__aside > .aside {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	width: 320px;
}

#dokuwiki__aside p strong
{
	color: #55a5d9;
	display: block;
	font-size: 85%;
	font-weight: bold;
	height: 32px;
	line-height: 32px;
	margin: 12px 0 0;
	padding: 0 1.6em;
	/* text-transform: uppercase; */
	white-space: nowrap;
}

#dokuwiki__aside ul > li > div.li > a,
#dokuwiki__aside ul > li > div.li > span > a
{
	color: #d9d9d9;
	display: block;
	font-size: 90%;
	line-height: 18px;
	padding: .4em 1.6em;
	position: relative;
}

#dokuwiki__aside > .aside > ul > li > div.li > a:hover,
#dokuwiki__aside > .aside > ul > li > div.li > span > a:hover
{
	background-color: #4e4a4a;
}

#dokuwiki__aside #dw__toc
{
	float: none;
	margin: 0;
	width: 100%;
}

#dokuwiki__aside #dw__toc ul.toc
{
	padding-left: 0;
}

#dokuwiki__aside #dw__toc > div[aria-expanded="true"]
{
	padding: 0;
}

#dokuwiki__aside #dw__toc > h3
{
	display: none;
}

#dokuwiki__aside #dw__toc ul > li > div.li
{
	padding: 0;
}

#dokuwiki__aside #dw__toc ul > li > div.li > a
{
	color: #404040;
}

#dokuwiki__aside #dw__toc .btn-expand
{
	display: inline-block;
}

#dokuwiki__aside #dw__toc .btn-expand i
{
	color: #333;
	display: inline-block;
	font-size: .8em;
	line-height: 1.6em;
	margin-left: -15px;
}

#dokuwiki__aside #dw__toc .btn-expand img
{
	height: 11px;
	margin-left: 1px;
	width: 9px;
}

#dokuwiki__aside #dw__toc > div > .toc > .level1 > div.li:first-child > a
{
    border-bottom: solid 1px #c9c9c9;
    border-top: solid 1px #c9c9c9;
	background-color: #fcfcfc;
}

#dokuwiki__aside #dw__toc > div > .toc > .level1 > div.li:first-child > a
{
	font-weight: bold;
}

#dokuwiki__aside #dw__toc ul.toc > .level1 ul.toc > li.current
{
	background-color: #c9c9c9;
}

#dokuwiki__aside #dw__toc ul.toc > .level1 ul.toc > li > div.li > a.current
{
	font-weight: bold;
}

#dokuwiki__aside #dw__toc ul.toc > .level1 ul.toc > li > div.li > a:hover
{
	background-color: #d6d6d6;
}

#dokuwiki__aside #dw__toc ul > li.level2 > div.li > a .btn-expand i,
#dokuwiki__aside #dw__toc ul > li.level3 > div.li > a .btn-expand i,
#dokuwiki__aside #dw__toc ul > li.level4 > div.li > a .btn-expand i
{
	color: #a3a3a3;
}

#dokuwiki__aside #dw__toc ul > li.level2 > div.li > a
{
	padding-left: 2.4em;
}

#dokuwiki__aside #dw__toc ul > li.level2 > div.li > a .btn-expand
{
	left: 1.8em;
}

#dokuwiki__aside #dw__toc ul > li.level3 > div.li > a
{
	padding-left: 3.2em;
}

#dokuwiki__aside #dw__toc ul > li.level3 > div.li > a .btn-expand
{
	left: 2.6em;
}

#dokuwiki__aside #dw__toc ul > li.level4 > div.li > a
{
	padding-left: 4em;
}

#dokuwiki__aside #dw__toc ul > li.level4 > div.li > a .btn-expand
{
	left: 3.4em;
}

#dokuwiki__aside #dw__toc ul > li.level5 > div.li > a
{
	padding-left: 4.8em;
}

/*@media only screen and (max-width: 42em)*/
@media (max-width: 42em)
{

	#dokuwiki__aside
	{
		display: none;
		width: 85%;
	}

	#dokuwiki__aside > .aside
	{
		width: auto;
	}

}
